.acordeon {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  transition: .25s;
  border: #53A041 5px solid;
  border-radius: 4.0rem;
  background-color: #53A041;
  color: aliceblue;
  font-size: 1.3rem;
  border: aliceblue solid;
}

.non {
  list-style: none;
}


.acordeon .trig {
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  padding: 2rem;
  background-color: aliceblue;
  color: #53A041;
  border: #53A041 10px solid;
  border-radius: 4.0rem;
  justify-content: center;
  cursor: pointer;
}

.acordeon .trig::after {
  content: "";
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: 25s;
}

.content {
  height: 0;
  transition: opacity .25s ease-in-out;
  color: aliceblue;
  display: none;
  font-size: 1.3rem;
  border-radius: 40px;
  border: aliceblue solid;
  align-items: center;
}

.acordeon.open .content {
  display: inline-block;
  height: 100%;
  margin: 1rem;
  padding: 1rem;
}

.espace {
  margin-bottom: 5rem;
}


.acordeon .card .trigger::after {
  content: "";
  display: block;
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: .25s;
}

.acordeon .card .content {
  overflow: hidden;
  height: 0;
  transition: opacity .25s ease-in-out;
  display: none;
  font-size: 1.3rem;
  border-radius: 40px;
  border: #0e220a 5px solid;
  align-items: center;
  margin: 0.5rem;
  background-color: aliceblue;
}

.acordeon .card.open .content {
  padding: 1rem;
  display: inline-block;
  height: 100%;

}

h1 {
  color: #53A041;
  text-align: center;
  font-size: 50px;
}

h4 {
  color: rgb(22, 55, 25);
  padding-top: 0;
  font-size: 25px;
}

section {
  margin-bottom: 0;
  margin-top: 0;
}

section.cards {
  display: flex;
  padding: 3rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

section.cards div.card {
  background-color: #53A041;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-radius: 15px;
}


@media screen and (max-width: 768px) {
  section.cards {
    flex-direction: column;
  }

  section.cards div.card {
    margin-left: 0;
    margin-bottom: 60px;
  }


  section.cards div.card:last-child {
    margin-bottom: 0;
  }
}