

.acordeon{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    transition: .25s;
    border: #53A041 5px solid;
    border-radius: 4.0rem;
    background-color: #53A041;
    color: aliceblue;
    font-size: 1.3rem;
    border:aliceblue solid;
}

.non{
 list-style: none;
}


.acordeon .trig{
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    background-color: aliceblue;
    color: #53A041;
    border: #53A041 10px solid;
    border-radius:4.0rem ;
    justify-content: center;
    cursor: pointer;
}

.acordeon .trig::after{
    content:"";
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem; 
    transition: 25s;  
}

.content{
   height: 0;
   transition: opacity .25s ease-in-out;
   color: aliceblue;
   display: none;
   font-size: 1.3rem;
   border-radius:40px;
   border:aliceblue solid;
   align-items: center;
}

.acordeon.open .content{
    display: inline-block;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
}

