

.acordeon{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    transition: .25s;
    border: #53A041 5px solid;
    border-radius: 4.0rem;
    background-color: #53A041;
    color: aliceblue;
    font-size: 1.3rem;
    border:aliceblue solid;
}

.non{
 list-style: none;
}


.acordeon .trig{
    display: flex;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem;
    background-color: aliceblue;
    color: #53A041;
    border: #53A041 10px solid;
    border-radius:4.0rem ;
    justify-content: center;
    cursor: pointer;
}

.acordeon .trig::after{
    content:"";
    display: block;
    position: relative;
    width: 2rem;
    height: 2rem; 
    transition: 25s;  
}

.content{
   height: 0;
   transition: opacity .25s ease-in-out;
   color: aliceblue;
   display: none;
   font-size: 1.3rem;
   border-radius:40px;
   border:aliceblue solid;
   align-items: center;
}

.acordeon.open .content{
    display: inline-block;
    height: 100%;
    margin: 1rem;
    padding: 1rem;
}


/* -----------------TESTE-------------------------- */

/* .acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .25s;
}

.acordeon.open,
.acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    margin: 0;
    font-size: 1.5rem;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('C:\Estudos\Dio-Portifólio\assets\icons\arrow down.png');
    transition: .25s;
    background-color:#53A041 ;
}

.acordeon.open .trigger::after {
    transform: rotate(180deg);
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.acordeon.open .content {
    display: block;
    padding: 0 1rem 1rem 2rem;
    height: auto;
    opacity: 1;
} */