* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-between;
    align-items: stretch;
    min-height: 100vh;
    width: 100%;
    background: rgb(47, 80, 62);
}
.main {
    padding: 1rem;
    border: 13px solid #53A041;
    border-radius: 1rem;
    background-color: #fff;
}



 @media only screen and (min-width: 768px) {
    .main {
        max-width: 2000px;
        justify-items: center;
      
    }
} 